<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlinks}}
   </head>
<body>

    {{>navbar}}

    <!-- main headers -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-12 col-md-10 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                      <p>Welcome to Weather app </p> 
                      <h1>Get the latest <span class="text_clr"> Weather</span> info of your city</h1>
                      <a href="/weather"><button>checknow</button></a> 
                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="images/undraw_season_change.png" class="w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="images/undraw_weather.png" class="w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="images/undraw_Weather_notification.png" class="w-100" alt="...">
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    {{>footer}}



    <!-- script -->
    
  </body>
</body>
</html>